* {
    box-sizing: border-box;
    border: 1px dotted pink;
}

body {
    font-family: Helvetica cursive;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer: {
    display: flex;
    align-items: center;
    height: 3.123rem;
}

main {
    flex-grow: 1;
}